* {
  box-sizing: border-box;
  margin: 0; 
}

:root {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  --primary: #ff742b;
  --secondary: #f6f6ef;
}

.App {
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

.navbar .navbar_container {
  background-color: var(--primary);
  padding: 2px;
  height: 70px;

  display: flex; 
  align-items: center;
  justify-content: space-between;
  
}

.navbar .navbar_container .logo {
  display: inline-block;
  padding: 5px;
  flex-shrink: 0;
}
.navbar .navbar_container .logo .icon {
  margin-right: 5px;
}
.navbar .navbar_container .logo .icon img{
  width: 48px;
  height: 48px;
}
.navbar .navbar_container .logo .title {
  display: inline-block;
  font-size: 18px;
}

.navbar .search_container {
  background-color: white;
  padding: 10px;
  width: 72%;
}
.navbar .search_container svg {
  color: var(--primary);
}
.navbar .search_container input {
  outline: none; 
  border: none; 
  font-size: 18px;
  font-weight: lighter;
  
}
.navbar .search_container input[placeholder] {
  text-overflow:clip;
}

.navbar .setting_container {
  flex-shrink: 0;
}
.navbar .setting_container svg {
  width: 24px; 
  margin-right: 10px;
}
.navbar .setting_container span {
  font-size: 18px;
}



@media (min-width: 1200px) {
  .App {
    width: 85%; 
  }
}

@media (max-width: 750px) {
  .navbar .navbar_container .logo .title {
    display: none;
  }
  .navbar .navbar_container .logo {
    width: 50px;
    margin-right: 10px;
  }
  .navbar .setting_container span {
    display: none;
  }  
}


/***********************************************/
/***********************************************/
/***********************************************/
/* Newsboard */

.newsboard {
  background-color: var(--secondary);
  padding: 1rem;
}
.newsboard .article {
  margin-bottom: 0.3rem;
}
.newsboard .article .story_data .story_title {
  display: inline-block;
  font-size: 14px;
  line-height: 1.5rem;
  margin-right: 0.5rem;
  
}
.newsboard .article .story_data .story_link {
  display: inline-block;
  font-size: 13px; 
  
}
.newsboard .article .story_data .story_link a {
  color: #828282; 
}
.newsboard .article .story_meta {
  color: #696969; 
  font-size: 11px;
}

